* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.container {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
	background: #0062be;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px ;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	position: relative;
	max-width: 80px;
}

.nav {
	position: relative;
	display: flex;
}

header li {
	list-style: none;
}

.link {
	display: inline-block;
	margin-left: 40px;
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

.content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text_box {
	position: relative;
	max-width: 600px;
}

.text_box  h2 {
	color: #fff;
	font-size: 4em;
	line-height: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
}

.text_box span {
	font-size: 2em;
}

.text_box p {
	color: #fff;
}

.products {
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #fff;
	color: #111;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.img_box {
	width: 600px;
	display: flex;
	padding-right: 50px;
	margin-top: 50px;
	justify-content: flex-end;
}

.img_box img {
	max-width: 260px;
}

.link_mini {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	display: flex;
}

.link_mini li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}

.link_mini li:hover{
	transform: translateY(-15px);
}

.link_mini img {
	max-width: 40px;
}

.social {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.social li {
	list-style: none;
}

.soc {
	display: inline-block;
	filter: invert(1);
	margin: 5px 0;
	transform: scale(0.6s);
}