* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(
		90deg,
		rgba(41, 1, 219, 1) 0%,
		rgba(2, 29, 158, 1) 53%,
		rgba(0, 155, 255, 1) 100%
	);
}

.wrapper {
	width: 700px;
	height: 400px;
	position: relative;
}



.wrapper .img {
	width: 100%;
	height: 100%;
	position: absolute;
}

.wrapper .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	clip-path: circle(0% at 0% 100%);
	transition: all 0.7s;
}

#one:checked ~ .img-1 img {
	clip-path: circle(150% at 0% 100%);
}

#two:checked ~ .img-1 img,
#two:checked ~ .img-2 img {
	clip-path: circle(150% at 0% 100%);
}

#three:checked ~ .img-1 img,
#three:checked ~ .img-2 img,
#three:checked ~ .img-3 img {
	clip-path: circle(150% at 0% 100%);
}

#four:checked ~ .img-1 img,
#four:checked ~ .img-2 img,
#four:checked ~ .img-3 img,
#four:checked ~ .img-4 img {
	clip-path: circle(150% at 0% 100%);
}

.sliders {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	z-index: 999;
}

.sliders label {
	width: 13px;
	height: 13px;
	border: 2px solid #273746;
	margin: 0 3px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease;
}

#one:checked ~ .sliders label.one,
#two:checked ~ .sliders label.two,
#three:checked ~ .sliders label.three,
#four:checked ~ .sliders label.four {
	width: 35px;
	border-radius: 15px;
	background: #273746;
}

.sliders label:hover {
	background: #3498db;
}

.wrapper input[type="radio"] {
	display: none;
}
